<ul *ngIf="!isHidden">
    <li #allTheseThings *ngFor="let i of items; let last = last">{{i}}</li>
  </ul>

  <br>

  <button (click)="items.push('another')">Add Another</button>

  <button (click)="isHidden = !isHidden">{{isHidden ? 'Show' :  'Hide'}}</button>