$sliderColor: orange;
$sliderThumbBorderColor: grey;
$sliderTrackBorderColor: grey;
$sliderFillUpperColor: white;

/* to make default range type behaviour hide start */
input[type=range] {
    //-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */

    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 40px;
    //width: 200px;
    cursor: pointer;
    border-radius: 0; /* iOS */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    border: 2px solid #999; /* 1 */
  }

  input[type=range]::-moz-focus-outer { border: none; outline: none; }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
  /* to make default range type behaviour hide end */

  /* thumb css start */
  /* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid $sliderThumbBorderColor;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: $sliderColor;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 0px 0px 0px $sliderColor, 0px 0px 0px $sliderColor; /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px $sliderColor, 0px 0px 1px $sliderColor;
    border: 1px solid $sliderThumbBorderColor;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: $sliderColor;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px $sliderColor, 0px 0px 1px $sliderColor;
    border: 1px solid $sliderThumbBorderColor;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: $sliderColor;
    cursor: pointer;
  }
/* thumb css end */

  /* track css start */
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px $sliderTrackBorderColor, 0px 0px 1px $sliderTrackBorderColor;
    background: $sliderColor;
    border-radius: 1.3px;
    border: 0.2px solid $sliderTrackBorderColor;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $sliderColor;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 1px #0d0d0d;
    background: $sliderColor;
    border-radius: 1.3px;
    border: 0.2px solid $sliderTrackBorderColor;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: $sliderColor;
    border: 0.2px solid $sliderTrackBorderColor;
    border-radius: 2.6px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $sliderColor;
  }
  input[type=range]::-ms-fill-upper {
    background: $sliderFillUpperColor;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: $sliderFillUpperColor;
  }

  /* track css end */

//   /* bonus start */
//   input[type=range]::-ms-fill-lower {
//     background: $sliderColor;
//     border-radius: 10px;
// }
// input[type=range]::-ms-fill-upper {
//     background: $sliderFillUpperColor;
//     border-radius: 10px;
// }

// input[type=range]:focus::-ms-fill-lower {
//     background: $sliderColor;
// }
// input[type=range]:focus::-ms-fill-upper {
//     background: $sliderFillUpperColor
// }
//   /* bonus end */