@track-color: orange;
@thumb-color: orange;

@thumb-radius: 8px;
@thumb-height: 30px;
@thumb-width: 30px;
@thumb-shadow-size: 1px;
@thumb-shadow-blur: 1px;
@thumb-shadow-color: #111;
@thumb-border-width: 1px;
@thumb-border-color: white;

@track-width: 100%;
@track-height: 10px;
@track-shadow-size: 2px;
@track-shadow-blur: 2px;
@track-shadow-color: #222;
@track-border-width: 1px;
@track-border-color: black;

@track-radius: 5px;
@contrast: 5%;
@UpperBackGroundColor: white;

.shadow(@shadow-size,@shadow-blur,@shadow-color) {
  box-shadow: @shadow-size @shadow-size @shadow-blur @shadow-color, 0px 0px @shadow-size lighten(@shadow-color,5%);
}

.track() {
  width: @track-width;
  height: @track-height;
  cursor: pointer;
  animate: 0.2s;
}

.thumb() {
  .shadow(@thumb-shadow-size,@thumb-shadow-blur,@thumb-shadow-color);
  border: @thumb-border-width solid @thumb-border-color;
  height: @thumb-height;
  width: @thumb-width;
  border-radius: @thumb-radius;
  background: @thumb-color;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: @thumb-height/2 0;
  width: @track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
    border: @track-border-width solid @track-border-color;
  }
  
  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: ((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);
    box-shadow: 5px 0 0 -10px @UpperBackGroundColor, 6px 0 0 -10px @UpperBackGroundColor, 7px 0 0 -10px @UpperBackGroundColor, 8px 0 0 -10px @UpperBackGroundColor, 9px 0 0 -10px @UpperBackGroundColor, 10px 0 0 -10px @UpperBackGroundColor, 11px 0 0 -10px @UpperBackGroundColor, 12px 0 0 -10px @UpperBackGroundColor, 13px 0 0 -10px @UpperBackGroundColor, 14px 0 0 -10px @UpperBackGroundColor, 15px 0 0 -10px @UpperBackGroundColor, 16px 0 0 -10px @UpperBackGroundColor, 17px 0 0 -10px @UpperBackGroundColor, 18px 0 0 -10px @UpperBackGroundColor, 19px 0 0 -10px @UpperBackGroundColor, 20px 0 0 -10px @UpperBackGroundColor, 21px 0 0 -10px @UpperBackGroundColor, 22px 0 0 -10px @UpperBackGroundColor, 23px 0 0 -10px @UpperBackGroundColor, 24px 0 0 -10px @UpperBackGroundColor, 25px 0 0 -10px @UpperBackGroundColor, 26px 0 0 -10px @UpperBackGroundColor, 27px 0 0 -10px @UpperBackGroundColor, 28px 0 0 -10px @UpperBackGroundColor, 29px 0 0 -10px @UpperBackGroundColor, 30px 0 0 -10px @UpperBackGroundColor, 31px 0 0 -10px @UpperBackGroundColor, 32px 0 0 -10px @UpperBackGroundColor, 33px 0 0 -10px @UpperBackGroundColor, 34px 0 0 -10px @UpperBackGroundColor, 35px 0 0 -10px @UpperBackGroundColor, 36px 0 0 -10px @UpperBackGroundColor, 37px 0 0 -10px @UpperBackGroundColor, 38px 0 0 -10px @UpperBackGroundColor, 39px 0 0 -10px @UpperBackGroundColor, 40px 0 0 -10px @UpperBackGroundColor, 41px 0 0 -10px @UpperBackGroundColor, 42px 0 0 -10px @UpperBackGroundColor, 43px 0 0 -10px @UpperBackGroundColor, 44px 0 0 -10px @UpperBackGroundColor, 45px 0 0 -10px @UpperBackGroundColor, 46px 0 0 -10px @UpperBackGroundColor, 47px 0 0 -10px @UpperBackGroundColor, 48px 0 0 -10px @UpperBackGroundColor, 49px 0 0 -10px @UpperBackGroundColor, 50px 0 0 -10px @UpperBackGroundColor, 51px 0 0 -10px @UpperBackGroundColor, 52px 0 0 -10px @UpperBackGroundColor, 53px 0 0 -10px @UpperBackGroundColor, 54px 0 0 -10px @UpperBackGroundColor, 55px 0 0 -10px @UpperBackGroundColor, 56px 0 0 -10px @UpperBackGroundColor, 57px 0 0 -10px @UpperBackGroundColor, 58px 0 0 -10px @UpperBackGroundColor, 59px 0 0 -10px @UpperBackGroundColor, 60px 0 0 -10px @UpperBackGroundColor, 61px 0 0 -10px @UpperBackGroundColor, 62px 0 0 -10px @UpperBackGroundColor, 63px 0 0 -10px @UpperBackGroundColor, 64px 0 0 -10px @UpperBackGroundColor, 65px 0 0 -10px @UpperBackGroundColor, 66px 0 0 -10px @UpperBackGroundColor, 67px 0 0 -10px @UpperBackGroundColor, 68px 0 0 -10px @UpperBackGroundColor, 69px 0 0 -10px @UpperBackGroundColor, 70px 0 0 -10px @UpperBackGroundColor, 71px 0 0 -10px @UpperBackGroundColor, 72px 0 0 -10px @UpperBackGroundColor, 73px 0 0 -10px @UpperBackGroundColor, 74px 0 0 -10px @UpperBackGroundColor, 75px 0 0 -10px @UpperBackGroundColor, 76px 0 0 -10px @UpperBackGroundColor, 77px 0 0 -10px @UpperBackGroundColor, 78px 0 0 -10px @UpperBackGroundColor, 79px 0 0 -10px @UpperBackGroundColor, 80px 0 0 -10px @UpperBackGroundColor, 81px 0 0 -10px @UpperBackGroundColor, 82px 0 0 -10px @UpperBackGroundColor, 83px 0 0 -10px @UpperBackGroundColor, 84px 0 0 -10px @UpperBackGroundColor, 85px 0 0 -10px @UpperBackGroundColor, 86px 0 0 -10px @UpperBackGroundColor, 87px 0 0 -10px @UpperBackGroundColor, 88px 0 0 -10px @UpperBackGroundColor, 89px 0 0 -10px @UpperBackGroundColor, 90px 0 0 -10px @UpperBackGroundColor, 91px 0 0 -10px @UpperBackGroundColor, 92px 0 0 -10px @UpperBackGroundColor, 93px 0 0 -10px @UpperBackGroundColor, 94px 0 0 -10px @UpperBackGroundColor, 95px 0 0 -10px @UpperBackGroundColor, 96px 0 0 -10px @UpperBackGroundColor, 97px 0 0 -10px @UpperBackGroundColor, 98px 0 0 -10px @UpperBackGroundColor, 99px 0 0 -10px @UpperBackGroundColor, 100px 0 0 -10px @UpperBackGroundColor, 101px 0 0 -10px @UpperBackGroundColor, 102px 0 0 -10px @UpperBackGroundColor, 103px 0 0 -10px @UpperBackGroundColor, 104px 0 0 -10px @UpperBackGroundColor, 105px 0 0 -10px @UpperBackGroundColor, 106px 0 0 -10px @UpperBackGroundColor, 107px 0 0 -10px @UpperBackGroundColor, 108px 0 0 -10px @UpperBackGroundColor, 109px 0 0 -10px @UpperBackGroundColor, 110px 0 0 -10px @UpperBackGroundColor, 111px 0 0 -10px @UpperBackGroundColor, 112px 0 0 -10px @UpperBackGroundColor, 113px 0 0 -10px @UpperBackGroundColor, 114px 0 0 -10px @UpperBackGroundColor, 115px 0 0 -10px @UpperBackGroundColor, 116px 0 0 -10px @UpperBackGroundColor, 117px 0 0 -10px @UpperBackGroundColor, 118px 0 0 -10px @UpperBackGroundColor, 119px 0 0 -10px @UpperBackGroundColor, 120px 0 0 -10px @UpperBackGroundColor, 121px 0 0 -10px @UpperBackGroundColor, 122px 0 0 -10px @UpperBackGroundColor, 123px 0 0 -10px @UpperBackGroundColor, 124px 0 0 -10px @UpperBackGroundColor, 125px 0 0 -10px @UpperBackGroundColor, 126px 0 0 -10px @UpperBackGroundColor, 127px 0 0 -10px @UpperBackGroundColor, 128px 0 0 -10px @UpperBackGroundColor, 129px 0 0 -10px @UpperBackGroundColor, 130px 0 0 -10px @UpperBackGroundColor, 131px 0 0 -10px @UpperBackGroundColor, 132px 0 0 -10px @UpperBackGroundColor, 133px 0 0 -10px @UpperBackGroundColor, 134px 0 0 -10px @UpperBackGroundColor, 135px 0 0 -10px @UpperBackGroundColor, 136px 0 0 -10px @UpperBackGroundColor, 137px 0 0 -10px @UpperBackGroundColor, 138px 0 0 -10px @UpperBackGroundColor, 139px 0 0 -10px @UpperBackGroundColor, 140px 0 0 -10px @UpperBackGroundColor, 141px 0 0 -10px @UpperBackGroundColor, 142px 0 0 -10px @UpperBackGroundColor, 143px 0 0 -10px @UpperBackGroundColor, 144px 0 0 -10px @UpperBackGroundColor, 145px 0 0 -10px @UpperBackGroundColor, 146px 0 0 -10px @UpperBackGroundColor, 147px 0 0 -10px @UpperBackGroundColor, 148px 0 0 -10px @UpperBackGroundColor, 149px 0 0 -10px @UpperBackGroundColor, 150px 0 0 -10px @UpperBackGroundColor, 151px 0 0 -10px @UpperBackGroundColor, 152px 0 0 -10px @UpperBackGroundColor, 153px 0 0 -10px @UpperBackGroundColor, 154px 0 0 -10px @UpperBackGroundColor, 155px 0 0 -10px @UpperBackGroundColor, 156px 0 0 -10px @UpperBackGroundColor, 157px 0 0 -10px @UpperBackGroundColor, 158px 0 0 -10px @UpperBackGroundColor, 159px 0 0 -10px @UpperBackGroundColor, 160px 0 0 -10px @UpperBackGroundColor, 161px 0 0 -10px @UpperBackGroundColor, 162px 0 0 -10px @UpperBackGroundColor, 163px 0 0 -10px @UpperBackGroundColor, 164px 0 0 -10px @UpperBackGroundColor, 165px 0 0 -10px @UpperBackGroundColor, 166px 0 0 -10px @UpperBackGroundColor, 167px 0 0 -10px @UpperBackGroundColor, 168px 0 0 -10px @UpperBackGroundColor, 169px 0 0 -10px @UpperBackGroundColor, 170px 0 0 -10px @UpperBackGroundColor, 171px 0 0 -10px @UpperBackGroundColor, 172px 0 0 -10px @UpperBackGroundColor, 173px 0 0 -10px @UpperBackGroundColor, 174px 0 0 -10px @UpperBackGroundColor, 175px 0 0 -10px @UpperBackGroundColor, 176px 0 0 -10px @UpperBackGroundColor, 177px 0 0 -10px @UpperBackGroundColor, 178px 0 0 -10px @UpperBackGroundColor, 179px 0 0 -10px @UpperBackGroundColor, 180px 0 0 -10px @UpperBackGroundColor, 181px 0 0 -10px @UpperBackGroundColor, 182px 0 0 -10px @UpperBackGroundColor, 183px 0 0 -10px @UpperBackGroundColor, 184px 0 0 -10px @UpperBackGroundColor, 185px 0 0 -10px @UpperBackGroundColor, 186px 0 0 -10px @UpperBackGroundColor, 187px 0 0 -10px @UpperBackGroundColor, 188px 0 0 -10px @UpperBackGroundColor, 189px 0 0 -10px @UpperBackGroundColor, 190px 0 0 -10px @UpperBackGroundColor, 191px 0 0 -10px @UpperBackGroundColor, 192px 0 0 -10px @UpperBackGroundColor, 193px 0 0 -10px @UpperBackGroundColor, 194px 0 0 -10px @UpperBackGroundColor, 195px 0 0 -10px @UpperBackGroundColor, 196px 0 0 -10px @UpperBackGroundColor, 197px 0 0 -10px @UpperBackGroundColor, 198px 0 0 -10px @UpperBackGroundColor, 199px 0 0 -10px @UpperBackGroundColor, 200px 0 0 -10px @UpperBackGroundColor, 201px 0 0 -10px @UpperBackGroundColor, 202px 0 0 -10px @UpperBackGroundColor, 203px 0 0 -10px @UpperBackGroundColor, 204px 0 0 -10px @UpperBackGroundColor, 205px 0 0 -10px @UpperBackGroundColor, 206px 0 0 -10px @UpperBackGroundColor, 207px 0 0 -10px @UpperBackGroundColor, 208px 0 0 -10px @UpperBackGroundColor, 209px 0 0 -10px @UpperBackGroundColor, 210px 0 0 -10px @UpperBackGroundColor, 211px 0 0 -10px @UpperBackGroundColor, 212px 0 0 -10px @UpperBackGroundColor, 213px 0 0 -10px @UpperBackGroundColor, 214px 0 0 -10px @UpperBackGroundColor, 215px 0 0 -10px @UpperBackGroundColor, 216px 0 0 -10px @UpperBackGroundColor, 217px 0 0 -10px @UpperBackGroundColor, 218px 0 0 -10px @UpperBackGroundColor, 219px 0 0 -10px @UpperBackGroundColor, 220px 0 0 -10px @UpperBackGroundColor, 221px 0 0 -10px @UpperBackGroundColor, 222px 0 0 -10px @UpperBackGroundColor, 223px 0 0 -10px @UpperBackGroundColor, 224px 0 0 -10px @UpperBackGroundColor, 225px 0 0 -10px @UpperBackGroundColor, 226px 0 0 -10px @UpperBackGroundColor, 227px 0 0 -10px @UpperBackGroundColor, 228px 0 0 -10px @UpperBackGroundColor, 229px 0 0 -10px @UpperBackGroundColor, 230px 0 0 -10px @UpperBackGroundColor, 231px 0 0 -10px @UpperBackGroundColor, 232px 0 0 -10px @UpperBackGroundColor, 233px 0 0 -10px @UpperBackGroundColor, 234px 0 0 -10px @UpperBackGroundColor, 235px 0 0 -10px @UpperBackGroundColor, 236px 0 0 -10px @UpperBackGroundColor, 237px 0 0 -10px @UpperBackGroundColor, 238px 0 0 -10px @UpperBackGroundColor, 239px 0 0 -10px @UpperBackGroundColor, 240px 0 0 -10px @UpperBackGroundColor, 241px 0 0 -10px @UpperBackGroundColor, 242px 0 0 -10px @UpperBackGroundColor, 243px 0 0 -10px @UpperBackGroundColor, 244px 0 0 -10px @UpperBackGroundColor, 245px 0 0 -10px @UpperBackGroundColor, 246px 0 0 -10px @UpperBackGroundColor, 247px 0 0 -10px @UpperBackGroundColor, 248px 0 0 -10px @UpperBackGroundColor, 249px 0 0 -10px @UpperBackGroundColor, 250px 0 0 -10px @UpperBackGroundColor, 251px 0 0 -10px @UpperBackGroundColor, 252px 0 0 -10px @UpperBackGroundColor, 253px 0 0 -10px @UpperBackGroundColor, 254px 0 0 -10px @UpperBackGroundColor, 255px 0 0 -10px @UpperBackGroundColor, 256px 0 0 -10px @UpperBackGroundColor, 257px 0 0 -10px @UpperBackGroundColor, 258px 0 0 -10px @UpperBackGroundColor, 259px 0 0 -10px @UpperBackGroundColor, 260px 0 0 -10px @UpperBackGroundColor, 261px 0 0 -10px @UpperBackGroundColor, 262px 0 0 -10px @UpperBackGroundColor, 263px 0 0 -10px @UpperBackGroundColor, 264px 0 0 -10px @UpperBackGroundColor, 265px 0 0 -10px @UpperBackGroundColor, 266px 0 0 -10px @UpperBackGroundColor, 267px 0 0 -10px @UpperBackGroundColor, 268px 0 0 -10px @UpperBackGroundColor, 269px 0 0 -10px @UpperBackGroundColor, 270px 0 0 -10px @UpperBackGroundColor, 271px 0 0 -10px @UpperBackGroundColor, 272px 0 0 -10px @UpperBackGroundColor, 273px 0 0 -10px @UpperBackGroundColor, 274px 0 0 -10px @UpperBackGroundColor, 275px 0 0 -10px @UpperBackGroundColor, 276px 0 0 -10px @UpperBackGroundColor, 277px 0 0 -10px @UpperBackGroundColor, 278px 0 0 -10px @UpperBackGroundColor, 279px 0 0 -10px @UpperBackGroundColor, 280px 0 0 -10px @UpperBackGroundColor, 281px 0 0 -10px @UpperBackGroundColor, 282px 0 0 -10px @UpperBackGroundColor, 283px 0 0 -10px @UpperBackGroundColor, 284px 0 0 -10px @UpperBackGroundColor, 285px 0 0 -10px @UpperBackGroundColor, 286px 0 0 -10px @UpperBackGroundColor, 287px 0 0 -10px @UpperBackGroundColor, 288px 0 0 -10px @UpperBackGroundColor, 289px 0 0 -10px @UpperBackGroundColor, 290px 0 0 -10px @UpperBackGroundColor, 291px 0 0 -10px @UpperBackGroundColor, 292px 0 0 -10px @UpperBackGroundColor, 293px 0 0 -10px @UpperBackGroundColor, 294px 0 0 -10px @UpperBackGroundColor, 295px 0 0 -10px @UpperBackGroundColor, 296px 0 0 -10px @UpperBackGroundColor, 297px 0 0 -10px @UpperBackGroundColor, 298px 0 0 -10px @UpperBackGroundColor, 299px 0 0 -10px @UpperBackGroundColor, 300px 0 0 -10px @UpperBackGroundColor, 301px 0 0 -10px @UpperBackGroundColor, 302px 0 0 -10px @UpperBackGroundColor, 303px 0 0 -10px @UpperBackGroundColor, 304px 0 0 -10px @UpperBackGroundColor, 305px 0 0 -10px @UpperBackGroundColor, 306px 0 0 -10px @UpperBackGroundColor, 307px 0 0 -10px @UpperBackGroundColor, 308px 0 0 -10px @UpperBackGroundColor, 309px 0 0 -10px @UpperBackGroundColor, 310px 0 0 -10px @UpperBackGroundColor, 311px 0 0 -10px @UpperBackGroundColor, 312px 0 0 -10px @UpperBackGroundColor, 313px 0 0 -10px @UpperBackGroundColor, 314px 0 0 -10px @UpperBackGroundColor, 315px 0 0 -10px @UpperBackGroundColor, 316px 0 0 -10px @UpperBackGroundColor, 317px 0 0 -10px @UpperBackGroundColor, 318px 0 0 -10px @UpperBackGroundColor, 319px 0 0 -10px @UpperBackGroundColor, 320px 0 0 -10px @UpperBackGroundColor, 321px 0 0 -10px @UpperBackGroundColor, 322px 0 0 -10px @UpperBackGroundColor, 323px 0 0 -10px @UpperBackGroundColor, 324px 0 0 -10px @UpperBackGroundColor, 325px 0 0 -10px @UpperBackGroundColor, 326px 0 0 -10px @UpperBackGroundColor, 327px 0 0 -10px @UpperBackGroundColor, 328px 0 0 -10px @UpperBackGroundColor, 329px 0 0 -10px @UpperBackGroundColor, 330px 0 0 -10px @UpperBackGroundColor, 331px 0 0 -10px @UpperBackGroundColor, 332px 0 0 -10px @UpperBackGroundColor, 333px 0 0 -10px @UpperBackGroundColor, 334px 0 0 -10px @UpperBackGroundColor, 335px 0 0 -10px @UpperBackGroundColor, 336px 0 0 -10px @UpperBackGroundColor, 337px 0 0 -10px @UpperBackGroundColor, 338px 0 0 -10px @UpperBackGroundColor, 339px 0 0 -10px @UpperBackGroundColor, 340px 0 0 -10px @UpperBackGroundColor, 341px 0 0 -10px @UpperBackGroundColor, 342px 0 0 -10px @UpperBackGroundColor, 343px 0 0 -10px @UpperBackGroundColor, 344px 0 0 -10px @UpperBackGroundColor, 345px 0 0 -10px @UpperBackGroundColor, 346px 0 0 -10px @UpperBackGroundColor, 347px 0 0 -10px @UpperBackGroundColor, 348px 0 0 -10px @UpperBackGroundColor, 349px 0 0 -10px @UpperBackGroundColor, 350px 0 0 -10px @UpperBackGroundColor, 351px 0 0 -10px @UpperBackGroundColor, 352px 0 0 -10px @UpperBackGroundColor, 353px 0 0 -10px @UpperBackGroundColor, 354px 0 0 -10px @UpperBackGroundColor, 355px 0 0 -10px @UpperBackGroundColor, 356px 0 0 -10px @UpperBackGroundColor, 357px 0 0 -10px @UpperBackGroundColor, 358px 0 0 -10px @UpperBackGroundColor, 359px 0 0 -10px @UpperBackGroundColor, 360px 0 0 -10px @UpperBackGroundColor, 361px 0 0 -10px @UpperBackGroundColor, 362px 0 0 -10px @UpperBackGroundColor, 363px 0 0 -10px @UpperBackGroundColor, 364px 0 0 -10px @UpperBackGroundColor, 365px 0 0 -10px @UpperBackGroundColor, 366px 0 0 -10px @UpperBackGroundColor, 367px 0 0 -10px @UpperBackGroundColor, 368px 0 0 -10px @UpperBackGroundColor, 369px 0 0 -10px @UpperBackGroundColor, 370px 0 0 -10px @UpperBackGroundColor, 371px 0 0 -10px @UpperBackGroundColor, 372px 0 0 -10px @UpperBackGroundColor, 373px 0 0 -10px @UpperBackGroundColor, 374px 0 0 -10px @UpperBackGroundColor, 375px 0 0 -10px @UpperBackGroundColor, 376px 0 0 -10px @UpperBackGroundColor, 377px 0 0 -10px @UpperBackGroundColor, 378px 0 0 -10px @UpperBackGroundColor, 379px 0 0 -10px @UpperBackGroundColor, 380px 0 0 -10px @UpperBackGroundColor, 381px 0 0 -10px @UpperBackGroundColor, 382px 0 0 -10px @UpperBackGroundColor, 383px 0 0 -10px @UpperBackGroundColor, 384px 0 0 -10px @UpperBackGroundColor, 385px 0 0 -10px @UpperBackGroundColor, 386px 0 0 -10px @UpperBackGroundColor, 387px 0 0 -10px @UpperBackGroundColor, 388px 0 0 -10px @UpperBackGroundColor, 389px 0 0 -10px @UpperBackGroundColor, 390px 0 0 -10px @UpperBackGroundColor, 391px 0 0 -10px @UpperBackGroundColor, 392px 0 0 -10px @UpperBackGroundColor, 393px 0 0 -10px @UpperBackGroundColor, 394px 0 0 -10px @UpperBackGroundColor, 395px 0 0 -10px @UpperBackGroundColor, 396px 0 0 -10px @UpperBackGroundColor, 397px 0 0 -10px @UpperBackGroundColor, 398px 0 0 -10px @UpperBackGroundColor, 399px 0 0 -10px @UpperBackGroundColor, 400px 0 0 -10px @UpperBackGroundColor, 401px 0 0 -10px @UpperBackGroundColor, 402px 0 0 -10px @UpperBackGroundColor, 403px 0 0 -10px @UpperBackGroundColor, 404px 0 0 -10px @UpperBackGroundColor, 405px 0 0 -10px @UpperBackGroundColor, 406px 0 0 -10px @UpperBackGroundColor, 407px 0 0 -10px @UpperBackGroundColor, 408px 0 0 -10px @UpperBackGroundColor, 409px 0 0 -10px @UpperBackGroundColor, 410px 0 0 -10px @UpperBackGroundColor, 411px 0 0 -10px @UpperBackGroundColor, 412px 0 0 -10px @UpperBackGroundColor, 413px 0 0 -10px @UpperBackGroundColor, 414px 0 0 -10px @UpperBackGroundColor, 415px 0 0 -10px @UpperBackGroundColor, 416px 0 0 -10px @UpperBackGroundColor, 417px 0 0 -10px @UpperBackGroundColor, 418px 0 0 -10px @UpperBackGroundColor, 419px 0 0 -10px @UpperBackGroundColor, 420px 0 0 -10px @UpperBackGroundColor, 421px 0 0 -10px @UpperBackGroundColor, 422px 0 0 -10px @UpperBackGroundColor, 423px 0 0 -10px @UpperBackGroundColor, 424px 0 0 -10px @UpperBackGroundColor, 425px 0 0 -10px @UpperBackGroundColor, 426px 0 0 -10px @UpperBackGroundColor, 427px 0 0 -10px @UpperBackGroundColor, 428px 0 0 -10px @UpperBackGroundColor, 429px 0 0 -10px @UpperBackGroundColor, 430px 0 0 -10px @UpperBackGroundColor, 431px 0 0 -10px @UpperBackGroundColor, 432px 0 0 -10px @UpperBackGroundColor, 433px 0 0 -10px @UpperBackGroundColor, 434px 0 0 -10px @UpperBackGroundColor, 435px 0 0 -10px @UpperBackGroundColor, 436px 0 0 -10px @UpperBackGroundColor, 437px 0 0 -10px @UpperBackGroundColor, 438px 0 0 -10px @UpperBackGroundColor, 439px 0 0 -10px @UpperBackGroundColor, 440px 0 0 -10px @UpperBackGroundColor, 441px 0 0 -10px @UpperBackGroundColor, 442px 0 0 -10px @UpperBackGroundColor, 443px 0 0 -10px @UpperBackGroundColor, 444px 0 0 -10px @UpperBackGroundColor, 445px 0 0 -10px @UpperBackGroundColor, 446px 0 0 -10px @UpperBackGroundColor, 447px 0 0 -10px @UpperBackGroundColor, 448px 0 0 -10px @UpperBackGroundColor, 449px 0 0 -10px @UpperBackGroundColor, 450px 0 0 -10px @UpperBackGroundColor, 451px 0 0 -10px @UpperBackGroundColor, 452px 0 0 -10px @UpperBackGroundColor, 453px 0 0 -10px @UpperBackGroundColor, 454px 0 0 -10px @UpperBackGroundColor, 455px 0 0 -10px @UpperBackGroundColor, 456px 0 0 -10px @UpperBackGroundColor, 457px 0 0 -10px @UpperBackGroundColor, 458px 0 0 -10px @UpperBackGroundColor, 459px 0 0 -10px @UpperBackGroundColor, 460px 0 0 -10px @UpperBackGroundColor, 461px 0 0 -10px @UpperBackGroundColor, 462px 0 0 -10px @UpperBackGroundColor, 463px 0 0 -10px @UpperBackGroundColor, 464px 0 0 -10px @UpperBackGroundColor, 465px 0 0 -10px @UpperBackGroundColor, 466px 0 0 -10px @UpperBackGroundColor, 467px 0 0 -10px @UpperBackGroundColor, 468px 0 0 -10px @UpperBackGroundColor, 469px 0 0 -10px @UpperBackGroundColor, 470px 0 0 -10px @UpperBackGroundColor, 471px 0 0 -10px @UpperBackGroundColor, 472px 0 0 -10px @UpperBackGroundColor, 473px 0 0 -10px @UpperBackGroundColor, 474px 0 0 -10px @UpperBackGroundColor, 475px 0 0 -10px @UpperBackGroundColor, 476px 0 0 -10px @UpperBackGroundColor, 477px 0 0 -10px @UpperBackGroundColor, 478px 0 0 -10px @UpperBackGroundColor, 479px 0 0 -10px @UpperBackGroundColor, 480px 0 0 -10px @UpperBackGroundColor, 481px 0 0 -10px @UpperBackGroundColor, 482px 0 0 -10px @UpperBackGroundColor, 483px 0 0 -10px @UpperBackGroundColor, 484px 0 0 -10px @UpperBackGroundColor, 485px 0 0 -10px @UpperBackGroundColor, 486px 0 0 -10px @UpperBackGroundColor, 487px 0 0 -10px @UpperBackGroundColor, 488px 0 0 -10px @UpperBackGroundColor, 489px 0 0 -10px @UpperBackGroundColor, 490px 0 0 -10px @UpperBackGroundColor, 491px 0 0 -10px @UpperBackGroundColor, 492px 0 0 -10px @UpperBackGroundColor, 493px 0 0 -10px @UpperBackGroundColor, 494px 0 0 -10px @UpperBackGroundColor, 495px 0 0 -10px @UpperBackGroundColor, 496px 0 0 -10px @UpperBackGroundColor, 497px 0 0 -10px @UpperBackGroundColor, 498px 0 0 -10px @UpperBackGroundColor, 499px 0 0 -10px @UpperBackGroundColor, 500px 0 0 -10px @UpperBackGroundColor, 501px 0 0 -10px @UpperBackGroundColor, 502px 0 0 -10px @UpperBackGroundColor, 503px 0 0 -10px @UpperBackGroundColor, 504px 0 0 -10px @UpperBackGroundColor, 505px 0 0 -10px @UpperBackGroundColor, 506px 0 0 -10px @UpperBackGroundColor, 507px 0 0 -10px @UpperBackGroundColor, 508px 0 0 -10px @UpperBackGroundColor, 509px 0 0 -10px @UpperBackGroundColor, 510px 0 0 -10px @UpperBackGroundColor, 511px 0 0 -10px @UpperBackGroundColor, 512px 0 0 -10px @UpperBackGroundColor, 513px 0 0 -10px @UpperBackGroundColor, 514px 0 0 -10px @UpperBackGroundColor, 515px 0 0 -10px @UpperBackGroundColor, 516px 0 0 -10px @UpperBackGroundColor, 517px 0 0 -10px @UpperBackGroundColor, 518px 0 0 -10px @UpperBackGroundColor, 519px 0 0 -10px @UpperBackGroundColor, 520px 0 0 -10px @UpperBackGroundColor, 521px 0 0 -10px @UpperBackGroundColor, 522px 0 0 -10px @UpperBackGroundColor, 523px 0 0 -10px @UpperBackGroundColor, 524px 0 0 -10px @UpperBackGroundColor, 525px 0 0 -10px @UpperBackGroundColor, 526px 0 0 -10px @UpperBackGroundColor, 527px 0 0 -10px @UpperBackGroundColor, 528px 0 0 -10px @UpperBackGroundColor, 529px 0 0 -10px @UpperBackGroundColor, 530px 0 0 -10px @UpperBackGroundColor, 531px 0 0 -10px @UpperBackGroundColor, 532px 0 0 -10px @UpperBackGroundColor, 533px 0 0 -10px @UpperBackGroundColor, 534px 0 0 -10px @UpperBackGroundColor, 535px 0 0 -10px @UpperBackGroundColor, 536px 0 0 -10px @UpperBackGroundColor, 537px 0 0 -10px @UpperBackGroundColor, 538px 0 0 -10px @UpperBackGroundColor, 539px 0 0 -10px @UpperBackGroundColor, 540px 0 0 -10px @UpperBackGroundColor, 541px 0 0 -10px @UpperBackGroundColor, 542px 0 0 -10px @UpperBackGroundColor, 543px 0 0 -10px @UpperBackGroundColor, 544px 0 0 -10px @UpperBackGroundColor, 545px 0 0 -10px @UpperBackGroundColor, 546px 0 0 -10px @UpperBackGroundColor, 547px 0 0 -10px @UpperBackGroundColor, 548px 0 0 -10px @UpperBackGroundColor, 549px 0 0 -10px @UpperBackGroundColor, 550px 0 0 -10px @UpperBackGroundColor, 551px 0 0 -10px @UpperBackGroundColor, 552px 0 0 -10px @UpperBackGroundColor, 553px 0 0 -10px @UpperBackGroundColor, 554px 0 0 -10px @UpperBackGroundColor, 555px 0 0 -10px @UpperBackGroundColor, 556px 0 0 -10px @UpperBackGroundColor, 557px 0 0 -10px @UpperBackGroundColor, 558px 0 0 -10px @UpperBackGroundColor, 559px 0 0 -10px @UpperBackGroundColor, 560px 0 0 -10px @UpperBackGroundColor, 561px 0 0 -10px @UpperBackGroundColor, 562px 0 0 -10px @UpperBackGroundColor, 563px 0 0 -10px @UpperBackGroundColor, 564px 0 0 -10px @UpperBackGroundColor, 565px 0 0 -10px @UpperBackGroundColor, 566px 0 0 -10px @UpperBackGroundColor, 567px 0 0 -10px @UpperBackGroundColor, 568px 0 0 -10px @UpperBackGroundColor, 569px 0 0 -10px @UpperBackGroundColor, 570px 0 0 -10px @UpperBackGroundColor, 571px 0 0 -10px @UpperBackGroundColor, 572px 0 0 -10px @UpperBackGroundColor, 573px 0 0 -10px @UpperBackGroundColor, 574px 0 0 -10px @UpperBackGroundColor, 575px 0 0 -10px @UpperBackGroundColor, 576px 0 0 -10px @UpperBackGroundColor, 577px 0 0 -10px @UpperBackGroundColor, 578px 0 0 -10px @UpperBackGroundColor, 579px 0 0 -10px @UpperBackGroundColor, 580px 0 0 -10px @UpperBackGroundColor, 581px 0 0 -10px @UpperBackGroundColor, 582px 0 0 -10px @UpperBackGroundColor, 583px 0 0 -10px @UpperBackGroundColor, 584px 0 0 -10px @UpperBackGroundColor, 585px 0 0 -10px @UpperBackGroundColor, 586px 0 0 -10px @UpperBackGroundColor, 587px 0 0 -10px @UpperBackGroundColor, 588px 0 0 -10px @UpperBackGroundColor, 589px 0 0 -10px @UpperBackGroundColor, 590px 0 0 -10px @UpperBackGroundColor, 591px 0 0 -10px @UpperBackGroundColor, 592px 0 0 -10px @UpperBackGroundColor, 593px 0 0 -10px @UpperBackGroundColor, 594px 0 0 -10px @UpperBackGroundColor, 595px 0 0 -10px @UpperBackGroundColor, 596px 0 0 -10px @UpperBackGroundColor, 597px 0 0 -10px @UpperBackGroundColor, 598px 0 0 -10px @UpperBackGroundColor, 599px 0 0 -10px @UpperBackGroundColor, 600px 0 0 -10px @UpperBackGroundColor, 601px 0 0 -10px @UpperBackGroundColor, 602px 0 0 -10px @UpperBackGroundColor, 603px 0 0 -10px @UpperBackGroundColor, 604px 0 0 -10px @UpperBackGroundColor, 605px 0 0 -10px @UpperBackGroundColor, 606px 0 0 -10px @UpperBackGroundColor, 607px 0 0 -10px @UpperBackGroundColor, 608px 0 0 -10px @UpperBackGroundColor, 609px 0 0 -10px @UpperBackGroundColor, 610px 0 0 -10px @UpperBackGroundColor, 611px 0 0 -10px @UpperBackGroundColor, 612px 0 0 -10px @UpperBackGroundColor, 613px 0 0 -10px @UpperBackGroundColor, 614px 0 0 -10px @UpperBackGroundColor, 615px 0 0 -10px @UpperBackGroundColor, 616px 0 0 -10px @UpperBackGroundColor, 617px 0 0 -10px @UpperBackGroundColor, 618px 0 0 -10px @UpperBackGroundColor, 619px 0 0 -10px @UpperBackGroundColor, 620px 0 0 -10px @UpperBackGroundColor, 621px 0 0 -10px @UpperBackGroundColor, 622px 0 0 -10px @UpperBackGroundColor, 623px 0 0 -10px @UpperBackGroundColor, 624px 0 0 -10px @UpperBackGroundColor, 625px 0 0 -10px @UpperBackGroundColor, 626px 0 0 -10px @UpperBackGroundColor, 627px 0 0 -10px @UpperBackGroundColor, 628px 0 0 -10px @UpperBackGroundColor, 629px 0 0 -10px @UpperBackGroundColor, 630px 0 0 -10px @UpperBackGroundColor, 631px 0 0 -10px @UpperBackGroundColor, 632px 0 0 -10px @UpperBackGroundColor, 633px 0 0 -10px @UpperBackGroundColor, 634px 0 0 -10px @UpperBackGroundColor, 635px 0 0 -10px @UpperBackGroundColor, 636px 0 0 -10px @UpperBackGroundColor, 637px 0 0 -10px @UpperBackGroundColor, 638px 0 0 -10px @UpperBackGroundColor, 639px 0 0 -10px @UpperBackGroundColor, 640px 0 0 -10px @UpperBackGroundColor, 641px 0 0 -10px @UpperBackGroundColor, 642px 0 0 -10px @UpperBackGroundColor, 643px 0 0 -10px @UpperBackGroundColor, 644px 0 0 -10px @UpperBackGroundColor, 645px 0 0 -10px @UpperBackGroundColor, 646px 0 0 -10px @UpperBackGroundColor, 647px 0 0 -10px @UpperBackGroundColor, 648px 0 0 -10px @UpperBackGroundColor, 649px 0 0 -10px @UpperBackGroundColor, 650px 0 0 -10px @UpperBackGroundColor, 651px 0 0 -10px @UpperBackGroundColor, 652px 0 0 -10px @UpperBackGroundColor, 653px 0 0 -10px @UpperBackGroundColor, 654px 0 0 -10px @UpperBackGroundColor, 655px 0 0 -10px @UpperBackGroundColor, 656px 0 0 -10px @UpperBackGroundColor, 657px 0 0 -10px @UpperBackGroundColor, 658px 0 0 -10px @UpperBackGroundColor, 659px 0 0 -10px @UpperBackGroundColor, 660px 0 0 -10px @UpperBackGroundColor, 661px 0 0 -10px @UpperBackGroundColor, 662px 0 0 -10px @UpperBackGroundColor, 663px 0 0 -10px @UpperBackGroundColor, 664px 0 0 -10px @UpperBackGroundColor, 665px 0 0 -10px @UpperBackGroundColor, 666px 0 0 -10px @UpperBackGroundColor, 667px 0 0 -10px @UpperBackGroundColor, 668px 0 0 -10px @UpperBackGroundColor, 669px 0 0 -10px @UpperBackGroundColor, 670px 0 0 -10px @UpperBackGroundColor, 671px 0 0 -10px @UpperBackGroundColor, 672px 0 0 -10px @UpperBackGroundColor, 673px 0 0 -10px @UpperBackGroundColor, 674px 0 0 -10px @UpperBackGroundColor, 675px 0 0 -10px @UpperBackGroundColor, 676px 0 0 -10px @UpperBackGroundColor, 677px 0 0 -10px @UpperBackGroundColor, 678px 0 0 -10px @UpperBackGroundColor, 679px 0 0 -10px @UpperBackGroundColor, 680px 0 0 -10px @UpperBackGroundColor, 681px 0 0 -10px @UpperBackGroundColor, 682px 0 0 -10px @UpperBackGroundColor, 683px 0 0 -10px @UpperBackGroundColor, 684px 0 0 -10px @UpperBackGroundColor, 685px 0 0 -10px @UpperBackGroundColor, 686px 0 0 -10px @UpperBackGroundColor, 687px 0 0 -10px @UpperBackGroundColor, 688px 0 0 -10px @UpperBackGroundColor, 689px 0 0 -10px @UpperBackGroundColor, 690px 0 0 -10px @UpperBackGroundColor, 691px 0 0 -10px @UpperBackGroundColor, 692px 0 0 -10px @UpperBackGroundColor, 693px 0 0 -10px @UpperBackGroundColor, 694px 0 0 -10px @UpperBackGroundColor, 695px 0 0 -10px @UpperBackGroundColor, 696px 0 0 -10px @UpperBackGroundColor, 697px 0 0 -10px @UpperBackGroundColor, 698px 0 0 -10px @UpperBackGroundColor, 699px 0 0 -10px @UpperBackGroundColor, 700px 0 0 -10px @UpperBackGroundColor, 701px 0 0 -10px @UpperBackGroundColor, 702px 0 0 -10px @UpperBackGroundColor, 703px 0 0 -10px @UpperBackGroundColor, 704px 0 0 -10px @UpperBackGroundColor, 705px 0 0 -10px @UpperBackGroundColor, 706px 0 0 -10px @UpperBackGroundColor, 707px 0 0 -10px @UpperBackGroundColor, 708px 0 0 -10px @UpperBackGroundColor, 709px 0 0 -10px @UpperBackGroundColor, 710px 0 0 -10px @UpperBackGroundColor, 711px 0 0 -10px @UpperBackGroundColor, 712px 0 0 -10px @UpperBackGroundColor, 713px 0 0 -10px @UpperBackGroundColor, 714px 0 0 -10px @UpperBackGroundColor, 715px 0 0 -10px @UpperBackGroundColor, 716px 0 0 -10px @UpperBackGroundColor, 717px 0 0 -10px @UpperBackGroundColor, 718px 0 0 -10px @UpperBackGroundColor, 719px 0 0 -10px @UpperBackGroundColor, 720px 0 0 -10px @UpperBackGroundColor, 721px 0 0 -10px @UpperBackGroundColor, 722px 0 0 -10px @UpperBackGroundColor, 723px 0 0 -10px @UpperBackGroundColor, 724px 0 0 -10px @UpperBackGroundColor, 725px 0 0 -10px @UpperBackGroundColor, 726px 0 0 -10px @UpperBackGroundColor, 727px 0 0 -10px @UpperBackGroundColor, 728px 0 0 -10px @UpperBackGroundColor, 729px 0 0 -10px @UpperBackGroundColor, 730px 0 0 -10px @UpperBackGroundColor, 731px 0 0 -10px @UpperBackGroundColor, 732px 0 0 -10px @UpperBackGroundColor, 733px 0 0 -10px @UpperBackGroundColor, 734px 0 0 -10px @UpperBackGroundColor, 735px 0 0 -10px @UpperBackGroundColor, 736px 0 0 -10px @UpperBackGroundColor, 737px 0 0 -10px @UpperBackGroundColor, 738px 0 0 -10px @UpperBackGroundColor, 739px 0 0 -10px @UpperBackGroundColor, 740px 0 0 -10px @UpperBackGroundColor, 741px 0 0 -10px @UpperBackGroundColor, 742px 0 0 -10px @UpperBackGroundColor, 743px 0 0 -10px @UpperBackGroundColor, 744px 0 0 -10px @UpperBackGroundColor, 745px 0 0 -10px @UpperBackGroundColor, 746px 0 0 -10px @UpperBackGroundColor, 747px 0 0 -10px @UpperBackGroundColor, 748px 0 0 -10px @UpperBackGroundColor, 749px 0 0 -10px @UpperBackGroundColor, 750px 0 0 -10px @UpperBackGroundColor, 751px 0 0 -10px @UpperBackGroundColor, 752px 0 0 -10px @UpperBackGroundColor, 753px 0 0 -10px @UpperBackGroundColor, 754px 0 0 -10px @UpperBackGroundColor, 755px 0 0 -10px @UpperBackGroundColor, 756px 0 0 -10px @UpperBackGroundColor, 757px 0 0 -10px @UpperBackGroundColor, 758px 0 0 -10px @UpperBackGroundColor, 759px 0 0 -10px @UpperBackGroundColor, 760px 0 0 -10px @UpperBackGroundColor, 761px 0 0 -10px @UpperBackGroundColor, 762px 0 0 -10px @UpperBackGroundColor, 763px 0 0 -10px @UpperBackGroundColor, 764px 0 0 -10px @UpperBackGroundColor, 765px 0 0 -10px @UpperBackGroundColor, 766px 0 0 -10px @UpperBackGroundColor, 767px 0 0 -10px @UpperBackGroundColor, 768px 0 0 -10px @UpperBackGroundColor, 769px 0 0 -10px @UpperBackGroundColor, 770px 0 0 -10px @UpperBackGroundColor, 771px 0 0 -10px @UpperBackGroundColor, 772px 0 0 -10px @UpperBackGroundColor, 773px 0 0 -10px @UpperBackGroundColor, 774px 0 0 -10px @UpperBackGroundColor, 775px 0 0 -10px @UpperBackGroundColor, 776px 0 0 -10px @UpperBackGroundColor, 777px 0 0 -10px @UpperBackGroundColor, 778px 0 0 -10px @UpperBackGroundColor, 779px 0 0 -10px @UpperBackGroundColor, 780px 0 0 -10px @UpperBackGroundColor, 781px 0 0 -10px @UpperBackGroundColor, 782px 0 0 -10px @UpperBackGroundColor, 783px 0 0 -10px @UpperBackGroundColor, 784px 0 0 -10px @UpperBackGroundColor, 785px 0 0 -10px @UpperBackGroundColor, 786px 0 0 -10px @UpperBackGroundColor, 787px 0 0 -10px @UpperBackGroundColor, 788px 0 0 -10px @UpperBackGroundColor, 789px 0 0 -10px @UpperBackGroundColor, 790px 0 0 -10px @UpperBackGroundColor, 791px 0 0 -10px @UpperBackGroundColor, 792px 0 0 -10px @UpperBackGroundColor, 793px 0 0 -10px @UpperBackGroundColor, 794px 0 0 -10px @UpperBackGroundColor, 795px 0 0 -10px @UpperBackGroundColor, 796px 0 0 -10px @UpperBackGroundColor, 797px 0 0 -10px @UpperBackGroundColor, 798px 0 0 -10px @UpperBackGroundColor, 799px 0 0 -10px @UpperBackGroundColor, 800px 0 0 -10px @UpperBackGroundColor, 801px 0 0 -10px @UpperBackGroundColor, 802px 0 0 -10px @UpperBackGroundColor, 803px 0 0 -10px @UpperBackGroundColor, 804px 0 0 -10px @UpperBackGroundColor, 805px 0 0 -10px @UpperBackGroundColor, 806px 0 0 -10px @UpperBackGroundColor, 807px 0 0 -10px @UpperBackGroundColor, 808px 0 0 -10px @UpperBackGroundColor, 809px 0 0 -10px @UpperBackGroundColor, 810px 0 0 -10px @UpperBackGroundColor, 811px 0 0 -10px @UpperBackGroundColor, 812px 0 0 -10px @UpperBackGroundColor, 813px 0 0 -10px @UpperBackGroundColor, 814px 0 0 -10px @UpperBackGroundColor, 815px 0 0 -10px @UpperBackGroundColor, 816px 0 0 -10px @UpperBackGroundColor, 817px 0 0 -10px @UpperBackGroundColor, 818px 0 0 -10px @UpperBackGroundColor, 819px 0 0 -10px @UpperBackGroundColor, 820px 0 0 -10px @UpperBackGroundColor, 821px 0 0 -10px @UpperBackGroundColor, 822px 0 0 -10px @UpperBackGroundColor, 823px 0 0 -10px @UpperBackGroundColor, 824px 0 0 -10px @UpperBackGroundColor, 825px 0 0 -10px @UpperBackGroundColor, 826px 0 0 -10px @UpperBackGroundColor, 827px 0 0 -10px @UpperBackGroundColor, 828px 0 0 -10px @UpperBackGroundColor, 829px 0 0 -10px @UpperBackGroundColor, 830px 0 0 -10px @UpperBackGroundColor, 831px 0 0 -10px @UpperBackGroundColor, 832px 0 0 -10px @UpperBackGroundColor, 833px 0 0 -10px @UpperBackGroundColor, 834px 0 0 -10px @UpperBackGroundColor, 835px 0 0 -10px @UpperBackGroundColor, 836px 0 0 -10px @UpperBackGroundColor, 837px 0 0 -10px @UpperBackGroundColor, 838px 0 0 -10px @UpperBackGroundColor, 839px 0 0 -10px @UpperBackGroundColor, 840px 0 0 -10px @UpperBackGroundColor, 841px 0 0 -10px @UpperBackGroundColor, 842px 0 0 -10px @UpperBackGroundColor, 843px 0 0 -10px @UpperBackGroundColor, 844px 0 0 -10px @UpperBackGroundColor, 845px 0 0 -10px @UpperBackGroundColor, 846px 0 0 -10px @UpperBackGroundColor, 847px 0 0 -10px @UpperBackGroundColor, 848px 0 0 -10px @UpperBackGroundColor, 849px 0 0 -10px @UpperBackGroundColor, 850px 0 0 -10px @UpperBackGroundColor, 851px 0 0 -10px @UpperBackGroundColor, 852px 0 0 -10px @UpperBackGroundColor, 853px 0 0 -10px @UpperBackGroundColor, 854px 0 0 -10px @UpperBackGroundColor, 855px 0 0 -10px @UpperBackGroundColor, 856px 0 0 -10px @UpperBackGroundColor, 857px 0 0 -10px @UpperBackGroundColor, 858px 0 0 -10px @UpperBackGroundColor, 859px 0 0 -10px @UpperBackGroundColor, 860px 0 0 -10px @UpperBackGroundColor, 861px 0 0 -10px @UpperBackGroundColor, 862px 0 0 -10px @UpperBackGroundColor, 863px 0 0 -10px @UpperBackGroundColor, 864px 0 0 -10px @UpperBackGroundColor, 865px 0 0 -10px @UpperBackGroundColor, 866px 0 0 -10px @UpperBackGroundColor, 867px 0 0 -10px @UpperBackGroundColor, 868px 0 0 -10px @UpperBackGroundColor, 869px 0 0 -10px @UpperBackGroundColor, 870px 0 0 -10px @UpperBackGroundColor, 871px 0 0 -10px @UpperBackGroundColor, 872px 0 0 -10px @UpperBackGroundColor, 873px 0 0 -10px @UpperBackGroundColor, 874px 0 0 -10px @UpperBackGroundColor, 875px 0 0 -10px @UpperBackGroundColor, 876px 0 0 -10px @UpperBackGroundColor, 877px 0 0 -10px @UpperBackGroundColor, 878px 0 0 -10px @UpperBackGroundColor, 879px 0 0 -10px @UpperBackGroundColor, 880px 0 0 -10px @UpperBackGroundColor, 881px 0 0 -10px @UpperBackGroundColor, 882px 0 0 -10px @UpperBackGroundColor, 883px 0 0 -10px @UpperBackGroundColor, 884px 0 0 -10px @UpperBackGroundColor, 885px 0 0 -10px @UpperBackGroundColor, 886px 0 0 -10px @UpperBackGroundColor, 887px 0 0 -10px @UpperBackGroundColor, 888px 0 0 -10px @UpperBackGroundColor, 889px 0 0 -10px @UpperBackGroundColor, 890px 0 0 -10px @UpperBackGroundColor, 891px 0 0 -10px @UpperBackGroundColor, 892px 0 0 -10px @UpperBackGroundColor, 893px 0 0 -10px @UpperBackGroundColor, 894px 0 0 -10px @UpperBackGroundColor, 895px 0 0 -10px @UpperBackGroundColor, 896px 0 0 -10px @UpperBackGroundColor, 897px 0 0 -10px @UpperBackGroundColor, 898px 0 0 -10px @UpperBackGroundColor, 899px 0 0 -10px @UpperBackGroundColor, 900px 0 0 -10px @UpperBackGroundColor, 901px 0 0 -10px @UpperBackGroundColor, 902px 0 0 -10px @UpperBackGroundColor, 903px 0 0 -10px @UpperBackGroundColor, 904px 0 0 -10px @UpperBackGroundColor, 905px 0 0 -10px @UpperBackGroundColor, 906px 0 0 -10px @UpperBackGroundColor, 907px 0 0 -10px @UpperBackGroundColor, 908px 0 0 -10px @UpperBackGroundColor, 909px 0 0 -10px @UpperBackGroundColor, 910px 0 0 -10px @UpperBackGroundColor, 911px 0 0 -10px @UpperBackGroundColor, 912px 0 0 -10px @UpperBackGroundColor, 913px 0 0 -10px @UpperBackGroundColor, 914px 0 0 -10px @UpperBackGroundColor, 915px 0 0 -10px @UpperBackGroundColor, 916px 0 0 -10px @UpperBackGroundColor, 917px 0 0 -10px @UpperBackGroundColor, 918px 0 0 -10px @UpperBackGroundColor, 919px 0 0 -10px @UpperBackGroundColor, 920px 0 0 -10px @UpperBackGroundColor, 921px 0 0 -10px @UpperBackGroundColor, 922px 0 0 -10px @UpperBackGroundColor, 923px 0 0 -10px @UpperBackGroundColor, 924px 0 0 -10px @UpperBackGroundColor, 925px 0 0 -10px @UpperBackGroundColor, 926px 0 0 -10px @UpperBackGroundColor, 927px 0 0 -10px @UpperBackGroundColor, 928px 0 0 -10px @UpperBackGroundColor, 929px 0 0 -10px @UpperBackGroundColor, 930px 0 0 -10px @UpperBackGroundColor, 931px 0 0 -10px @UpperBackGroundColor, 932px 0 0 -10px @UpperBackGroundColor, 933px 0 0 -10px @UpperBackGroundColor, 934px 0 0 -10px @UpperBackGroundColor, 935px 0 0 -10px @UpperBackGroundColor, 936px 0 0 -10px @UpperBackGroundColor, 937px 0 0 -10px @UpperBackGroundColor, 938px 0 0 -10px @UpperBackGroundColor, 939px 0 0 -10px @UpperBackGroundColor, 940px 0 0 -10px @UpperBackGroundColor, 941px 0 0 -10px @UpperBackGroundColor, 942px 0 0 -10px @UpperBackGroundColor, 943px 0 0 -10px @UpperBackGroundColor, 944px 0 0 -10px @UpperBackGroundColor, 945px 0 0 -10px @UpperBackGroundColor, 946px 0 0 -10px @UpperBackGroundColor, 947px 0 0 -10px @UpperBackGroundColor, 948px 0 0 -10px @UpperBackGroundColor, 949px 0 0 -10px @UpperBackGroundColor, 950px 0 0 -10px @UpperBackGroundColor, 951px 0 0 -10px @UpperBackGroundColor, 952px 0 0 -10px @UpperBackGroundColor, 953px 0 0 -10px @UpperBackGroundColor, 954px 0 0 -10px @UpperBackGroundColor, 955px 0 0 -10px @UpperBackGroundColor, 956px 0 0 -10px @UpperBackGroundColor, 957px 0 0 -10px @UpperBackGroundColor, 958px 0 0 -10px @UpperBackGroundColor, 959px 0 0 -10px @UpperBackGroundColor, 960px 0 0 -10px @UpperBackGroundColor, 961px 0 0 -10px @UpperBackGroundColor, 962px 0 0 -10px @UpperBackGroundColor, 963px 0 0 -10px @UpperBackGroundColor, 964px 0 0 -10px @UpperBackGroundColor, 965px 0 0 -10px @UpperBackGroundColor, 966px 0 0 -10px @UpperBackGroundColor, 967px 0 0 -10px @UpperBackGroundColor, 968px 0 0 -10px @UpperBackGroundColor, 969px 0 0 -10px @UpperBackGroundColor, 970px 0 0 -10px @UpperBackGroundColor, 971px 0 0 -10px @UpperBackGroundColor, 972px 0 0 -10px @UpperBackGroundColor, 973px 0 0 -10px @UpperBackGroundColor, 974px 0 0 -10px @UpperBackGroundColor, 975px 0 0 -10px @UpperBackGroundColor, 976px 0 0 -10px @UpperBackGroundColor, 977px 0 0 -10px @UpperBackGroundColor, 978px 0 0 -10px @UpperBackGroundColor, 979px 0 0 -10px @UpperBackGroundColor, 980px 0 0 -10px @UpperBackGroundColor, 981px 0 0 -10px @UpperBackGroundColor, 982px 0 0 -10px @UpperBackGroundColor, 983px 0 0 -10px @UpperBackGroundColor, 984px 0 0 -10px @UpperBackGroundColor, 985px 0 0 -10px @UpperBackGroundColor, 986px 0 0 -10px @UpperBackGroundColor, 987px 0 0 -10px @UpperBackGroundColor, 988px 0 0 -10px @UpperBackGroundColor, 989px 0 0 -10px @UpperBackGroundColor, 990px 0 0 -10px @UpperBackGroundColor, 991px 0 0 -10px @UpperBackGroundColor, 992px 0 0 -10px @UpperBackGroundColor, 993px 0 0 -10px @UpperBackGroundColor, 994px 0 0 -10px @UpperBackGroundColor, 995px 0 0 -10px @UpperBackGroundColor, 996px 0 0 -10px @UpperBackGroundColor, 997px 0 0 -10px @UpperBackGroundColor, 998px 0 0 -10px @UpperBackGroundColor, 999px 0 0 -10px @UpperBackGroundColor, 1000px 0 0 -10px @UpperBackGroundColor, 1001px 0 0 -10px @UpperBackGroundColor, 1002px 0 0 -10px @UpperBackGroundColor, 1003px 0 0 -10px @UpperBackGroundColor, 1004px 0 0 -10px @UpperBackGroundColor, 1005px 0 0 -10px @UpperBackGroundColor, 1006px 0 0 -10px @UpperBackGroundColor, 1007px 0 0 -10px @UpperBackGroundColor, 1008px 0 0 -10px @UpperBackGroundColor, 1009px 0 0 -10px @UpperBackGroundColor, 1010px 0 0 -10px @UpperBackGroundColor, 1011px 0 0 -10px @UpperBackGroundColor, 1012px 0 0 -10px @UpperBackGroundColor, 1013px 0 0 -10px @UpperBackGroundColor, 1014px 0 0 -10px @UpperBackGroundColor, 1015px 0 0 -10px @UpperBackGroundColor, 1016px 0 0 -10px @UpperBackGroundColor, 1017px 0 0 -10px @UpperBackGroundColor, 1018px 0 0 -10px @UpperBackGroundColor, 1019px 0 0 -10px @UpperBackGroundColor, 1020px 0 0 -10px @UpperBackGroundColor, 1021px 0 0 -10px @UpperBackGroundColor, 1022px 0 0 -10px @UpperBackGroundColor, 1023px 0 0 -10px @UpperBackGroundColor, 1024px 0 0 -10px @UpperBackGroundColor, 1025px 0 0 -10px @UpperBackGroundColor, 1026px 0 0 -10px @UpperBackGroundColor, 1027px 0 0 -10px @UpperBackGroundColor, 1028px 0 0 -10px @UpperBackGroundColor, 1029px 0 0 -10px @UpperBackGroundColor, 1030px 0 0 -10px @UpperBackGroundColor, 1031px 0 0 -10px @UpperBackGroundColor, 1032px 0 0 -10px @UpperBackGroundColor, 1033px 0 0 -10px @UpperBackGroundColor, 1034px 0 0 -10px @UpperBackGroundColor, 1035px 0 0 -10px @UpperBackGroundColor, 1036px 0 0 -10px @UpperBackGroundColor, 1037px 0 0 -10px @UpperBackGroundColor, 1038px 0 0 -10px @UpperBackGroundColor, 1039px 0 0 -10px @UpperBackGroundColor, 1040px 0 0 -10px @UpperBackGroundColor, 1041px 0 0 -10px @UpperBackGroundColor, 1042px 0 0 -10px @UpperBackGroundColor, 1043px 0 0 -10px @UpperBackGroundColor, 1044px 0 0 -10px @UpperBackGroundColor, 1045px 0 0 -10px @UpperBackGroundColor, 1046px 0 0 -10px @UpperBackGroundColor, 1047px 0 0 -10px @UpperBackGroundColor, 1048px 0 0 -10px @UpperBackGroundColor, 1049px 0 0 -10px @UpperBackGroundColor, 1050px 0 0 -10px @UpperBackGroundColor, 1051px 0 0 -10px @UpperBackGroundColor, 1052px 0 0 -10px @UpperBackGroundColor, 1053px 0 0 -10px @UpperBackGroundColor, 1054px 0 0 -10px @UpperBackGroundColor, 1055px 0 0 -10px @UpperBackGroundColor, 1056px 0 0 -10px @UpperBackGroundColor, 1057px 0 0 -10px @UpperBackGroundColor, 1058px 0 0 -10px @UpperBackGroundColor, 1059px 0 0 -10px @UpperBackGroundColor, 1060px 0 0 -10px @UpperBackGroundColor, 1061px 0 0 -10px @UpperBackGroundColor, 1062px 0 0 -10px @UpperBackGroundColor, 1063px 0 0 -10px @UpperBackGroundColor, 1064px 0 0 -10px @UpperBackGroundColor, 1065px 0 0 -10px @UpperBackGroundColor, 1066px 0 0 -10px @UpperBackGroundColor, 1067px 0 0 -10px @UpperBackGroundColor, 1068px 0 0 -10px @UpperBackGroundColor, 1069px 0 0 -10px @UpperBackGroundColor, 1070px 0 0 -10px @UpperBackGroundColor, 1071px 0 0 -10px @UpperBackGroundColor, 1072px 0 0 -10px @UpperBackGroundColor, 1073px 0 0 -10px @UpperBackGroundColor, 1074px 0 0 -10px @UpperBackGroundColor, 1075px 0 0 -10px @UpperBackGroundColor, 1076px 0 0 -10px @UpperBackGroundColor, 1077px 0 0 -10px @UpperBackGroundColor, 1078px 0 0 -10px @UpperBackGroundColor, 1079px 0 0 -10px @UpperBackGroundColor, 1080px 0 0 -10px @UpperBackGroundColor, 1081px 0 0 -10px @UpperBackGroundColor, 1082px 0 0 -10px @UpperBackGroundColor, 1083px 0 0 -10px @UpperBackGroundColor, 1084px 0 0 -10px @UpperBackGroundColor, 1085px 0 0 -10px @UpperBackGroundColor, 1086px 0 0 -10px @UpperBackGroundColor, 1087px 0 0 -10px @UpperBackGroundColor, 1088px 0 0 -10px @UpperBackGroundColor;
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten(@track-color, @contrast);
  }

  &::-moz-range-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
    border: @track-border-width solid @track-border-color;
  }
  &::-moz-range-thumb {
     .thumb();
  }

  &::-ms-track {
    .track(); 
    background: transparent;
    border-color: transparent;
    border-width: @thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken(@track-color, @contrast);
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-fill-upper {
    background: white;
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-thumb {
    .thumb();
  }
  &:focus::-ms-fill-lower {
    background: @track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten(white, @contrast);
  }
}

input[type="range"].slider-track::-moz-range-progress {
  background: red;
}