<cache></cache>
<!-- <p>
  <input type="number" min="5" max="15" [(ngModel)]="someNumber" name="someNumber" />
  <br />
  <input type="number" name="num1" min="5" max="15" [ngModel]="num1" [customMin]="5" [customMax]="15">
</p>
parent component: {{currentSliderVal}}
<hr />
<bg-slider 
  min="0" 
  max="10" 
  value="8" 
  (OnChange)="SliderChange($event)">
</bg-slider>
<br/>
<bg-slider 
  min="0" 
  max="10" 
  value="8" 
  (OnChange)="SliderChange($event)">
</bg-slider>
<hr/>
<view-children></view-children>
<div *ngFor="let x of obj">
  <span>{{x.name}}</span>  
  {{ x['id'] = 0 }}
</div>
<button (click)="check()" type="button">check</button>
<br/> -->

<!-- <input type="range" />
<progress value="1534602" max="4603807">33%</progress> -->