<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-block">+</button>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-block">-</button>
    </div>
</div>