<div class="row" style="padding-top:30px;">
  <div class="col-md-12">
    <a [routerLink]="['/home']">home</a>&nbsp;|&nbsp;
    <a [routerLink]="['/product-details/100']">product-details</a>&nbsp;|&nbsp;
    <a [routerLink]="['/about']">about</a>&nbsp;|&nbsp;
    <a [routerLink]="['/contact-us']">contact</a>&nbsp;|&nbsp;
    <a [routerLink]="['/no-match']">no match</a>
  </div>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>

