<table>
    <tr>
        <td>
            <select (change)="onUserChanged($event.target.value)" name="userid">
                <option></option>
                <option *ngFor="let item of users" [value]="item | json">{{item.name}}</option>
            </select>
        </td>
        <td>
            <div *ngIf="table.length > 0">
                <select (change)="onPostChanged(+$event.target.value)">
                    <option></option>
                    <option *ngFor="let item of postData" value="{{item.id}}">{{item.id}}</option>
                </select>
            </div>
        </td>
    </tr>
</table>
<br/>
<div *ngIf="table.length > 0" style="height: 75%;overflow: scroll;">
    <table border="1" style="margin: 10px;" class="datatable">
        <thead>
            <tr>
                <th *ngFor="let col of columnsArr">
                    <a style="text-decoration: underline;cursor: default;" (click)="sort(col.name)">{{col.name}}</a>
                </th>                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of table">
                <td>{{row.userId}}</td>
                <td>{{row.id}}</td>
                <td>
                    <input type="text" [value]="row.title" [(ngModel)]="row.title" /> 
                </td>
                <td>{{row.body}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br/>
<button type="button" (click)="checkData()">Check Data</button>
<button type="button" (click)="resetData()">Reset Data</button>